body {
    margin: 0;
    padding: 0;
    background-image: url("https://e1.pxfuel.com/desktop-wallpaper/873/692/desktop-wallpaper-interdimensional-rss-the-rick-and-morty-podcast-rick-and-morty-outer-space.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    background-attachment: fixed;
    font-family: Arial, sans-serif;
  }